<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
		Detil Universitas
	</title>
	<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css}"/>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js}"></script>
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js}"></script>
</head>
<body>
	<div th:include="fragments::navigationBar"></div>
	<div th:include="fragments::(${prodi}?prodiDitemukan:prodiTidakDitemukan)"></div>
</body>
	<script type="text/javascript">
		$(document).ready(function(){
    		$('#myTable').DataTable();
		});
	</script>
</html>