<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
		Home
	</title>
	<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js}"></script>
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:include="fragments::navigationBar"></div>
	<div class="container-fluid">
		<h1>
			Pengumuman SBMPTN
		</h1>
		<form action="/pengumuman/submit" method="post">
			<p>
				Masukkan nomor peserta anda:
			</p>
			<div style="margin-top:10px;">
				<input type="text" name="nomor"/>
			</div>
			<div style="margin-top:10px;">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>